.inputName {
  width: 100%;
  height: 44px;
  border: 1px solid #C3C3C3;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 17px;
  line-height: 22px;
  text-indent: 15px;
}

span {
  font-size: 13px;
  line-height: 16px;
  color: #9D9D9D;
  padding-top: 9px;
}

.inputStudy {
  width: 300px;
  height: 44px;
  border: 1px solid #C3C3C3;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 17px;
  line-height: 22px;
  margin-top: 15px;
  text-indent: 15px;
}

.addMore {
  text-align: center;
  padding-top: 15px;

  button {
    margin-left: 10px;
    padding: 12px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 2px solid #000000;
  }

  label {
    margin-left: 5px;
    top: 50%;
  }
}
