<ng-container [formGroup]="parent">
  <div>
    <input type="text" class="inputName" id="name" [formControlName]="name" [placeholder]="placeholder">
  </div>
  <div *ngIf="addInput" [formGroup]="parent">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div formArrayName="studies">
        <div *ngFor="let quantity of studies().controls; let i=index" [formGroupName]="i">
          <input type="text" formControlName="study" class="inputStudy" [placeholder]="placeholder">
        </div>
        <div class="addMore">
          <button type="button" (click)="addStudy()"></button>
          <label>Добавить еще</label>
        </div>
        <span *ngIf="span">{{span}}</span>
      </div>
    </form>
    <br/>
    {{this.productForm.value | json}}
  </div>
</ng-container>





