.title {
  font-size: 41px;
  margin-bottom: 27px;
}

.row {
  display: flex;
  padding-top: 15px;

  .label_wrapper {
    width: 140px;
    height: 44px;
    margin-right: 17px;
    position: relative;

    .name {
      line-height: 22px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);

      &:after {
        content: "*";
        color: red;
      }
    }
  }
}

.button_wrapper {
  padding-top: 20px;

  .send {
    margin-left: 157px;
    background-color: #FFE783;
    width: 139px;
    height: 52px;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    border-radius: 3px;
    border: 1px solid #FFE783;

    &:disabled {
      opacity: 40%;
    }

    &:disabled,
    &:hover {
      opacity: 70%;
    }
  }
}
