<div class="container">
  <h1 class="title"> Анкета </h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row" *ngFor="let field of fields">
      <div class="label_wrapper">
        <label class="name" [ngClass]="{name_star: field.required}">{{field.label}}</label>
      </div>
      <app-test-input *ngIf="field.type === 'text'" [ngStyle]="{'width': field.width + 'px'}" [name]="field.name"
                      [parent]="form" [span]="field.span" [addInput]="field.addInput"
                      [placeholder]="field.placeholder"></app-test-input>
      <app-test-number *ngIf="field.type === 'number'" [name]="field.name" [parent]="form"></app-test-number>
      <app-test-select *ngIf="field.type === 'select'" [name]="field.name" [parent]="form"
                       [choices]="field.choices"></app-test-select>
      <app-test-checkbox *ngIf="field.type === 'checkbox'" [name]="field.name" [parent]="form"
                         [checkboxes]="field.checkboxes"
      ></app-test-checkbox>
    </div>
    <div class="button_wrapper">
      <button type="submit" class="send" [disabled]="!form.valid">Отправить</button>
    </div>
  </form>
</div>
