.inputSelect {
  width: 300px;
  height: 44px;
  border: 1px solid #C3C3C3;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 17px;
  line-height: 22px;
  text-indent: 15px;
}

select option:checked {
  background-color: yellow;
}


