<ng-container [formGroup]="parent">
  <div class="wrapper_checkbox">
    <ul>
      <li *ngFor="let item of checkboxes">
        <input type="checkbox" class="inputName" [(ngModel)]="item.checked" [formControlName]="name" [value]="item.name"
               (change)="select(item)">
        {{item.name}}
      </li>
      <input type="checkbox" class="inputName" id="SelectAll" [(ngModel)]="masterSelected" (change)="checkUncheckAll()"
             [formControlName]="name"/>
      <label class="SelectAll" for="SelectAll">Выделить все</label>
    </ul>
  </div>
</ng-container>

