.wrapper_checkbox {
  padding-top: 13px;

  ul {
    width: 500px;

    li {
      width: 250px;
      height: 100%;
      list-style-type: none;
      display: inline-block;
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 13px;

      .inputName {
        margin-right: 10px;
      }
    }
  }
}

label {
  font-weight: bold;
  margin-left: 17px;
}

input[type=checkbox] {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}
